$modal-duration: 1s;

.modal-overlay {
  @include flex-centerer;
  display: none;
  animation: fade-in $modal-duration;
  background-color: rgba($black, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.is-open {
    display: block;
  }
}

.modal-close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.modal-window,
.modal {
  position: relative;
  background-color: $white;
  margin: 10vh auto;
  border-radius: 3px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba($black, 0.2), 0 7px 20px 0 rgba($black, 0.17);
  max-width: 600px;
}
